.Cuestionario_Intro{
    .Intro_PreguntaUno{
        .InputDedos{
            width: 42px;
            padding: 5px;
        }
    }
    .Intro_PreguntaDos{
        .NotaCifrado{
            width: 40px;
            padding: 5px;
        }
    }
    .IntroPreguntaTres{
        .ContainerFiguras{
            @include flexible(row,center,center,1em,wrap);
            .CheckAlteracion{
                @include flexible(column,center,center,1em,wrap);
                img{
                    width: 30px;
                }
            }
            .FuncionesFiguras{
                .checkboxtext{
                   @include flexible(row,center,center,.5em,nowrap);

               }
            }
        }
    }

}