.Cuestionario_Intro{
    .Intro_PreguntaUno{
        .InputDedos{
            width: 42px;
            padding: 5px;
        }
    }
    .Intro_PreguntaDos{
        .NotaCifrado{
            width: 40px;
            padding: 5px;
        }
    }

}