.ConstructorIntervalos {
  background-image: url("../../Images//intervalos/pentagramasol.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 310px;
  height: 250px;
}